<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="BASE_LOG_PATH" value="/data/esb/log/"/>
	<property name="BOOT_LOG_FILE" value="boot.log" />
	<appender name="BOOT_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${BASE_LOG_PATH}${BOOT_LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${BASE_LOG_PATH}${BOOT_LOG_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.shawnyang.poc.spring.integration.esb.BootApplication"
		level="DEBUG">
		<appender-ref ref="BOOT_APPENDER" />
	</logger>
	<property name="CHANNEL_LOG_FILE" value="channel.log" />
	<appender name="CHANNEL_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${BASE_LOG_PATH}${CHANNEL_LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${BASE_LOG_PATH}${CHANNEL_LOG_FILE}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.shawnyang.poc.spring.integration.esb.channel"
		level="DEBUG">
		<appender-ref ref="CHANNEL_APPENDER" />
	</logger>
	
</configuration>