<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="LOG_FILE_BOOT" value="/data/log/boot.log" />
	<appender name="FILE_BOOT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE_BOOT}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILE_BOOT}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.shawnyang.poc.spring.integration.BootApplication"
		level="DEBUG">
		<appender-ref ref="FILE_BOOT" />
	</logger>
	<property name="LOG_FILE_ENDPOINT" value="/data/log/endpoint.log" />
	<appender name="FILE_ENDPOINT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE_ENDPOINT}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILE_ENDPOINT}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.shawnyang.poc.spring.integration.endpoint"
		level="DEBUG">
		<appender-ref ref="FILE_ENDPOINT" />
	</logger>
	<property name="LOG_FILE_CHANNEL" value="/data/log/channel.log" />
	<appender name="FILE_CHANNEL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_FILE_CHANNEL}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_FILE_CHANNEL}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.shawnyang.poc.spring.integration.channel"
		level="DEBUG">
		<appender-ref ref="FILE_CHANNEL" />
	</logger>
</configuration>